# OS specific
.DS_Store
Thumbs.db

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# Node (if you add dependencies later)
node_modules/
npm-debug.log
yarn-error.log

# Temporary files
*.tmp
*.bak
store/
